In [ ]:

""" Q.1 
Statistics refers to a field of study and a set of methodologies that involve collecting, organizing, analyzing, interpreting, and presenting data. 
It encompasses a range of techniques used to understand and make sense of data in order to draw meaningful conclusions, make informed decisions, and gain insights into various phenomena.
Statistics is widely used in diverse fields such as economics, social sciences, natural sciences, business, medicine, and more. It helps researchers, analysts, and decision-makers to make informed choices, uncover trends, validate hypotheses, and understand the underlying patterns within data.

In [ ]:
""" Q.2
Statistics can be broadly categorized into two main types:
Descriptive statistics and Inferential statistics.

Descriptive Statistics
Descriptive statistics involve methods for summarizing and presenting data in a clear and understandable manner. They help provide insights into the main features of a dataset without making broader inferences.
For example : To find the average height of the students of a class, we use descriptive statistics.

Inferential Statistics:
Inferential statistics involve using data from a sample to make inferences or predictions about a larger population. These methods help us draw conclusions beyond the immediate data at hand.
For example: To find the average height of people of India, we use inferential statistics.

In [ ]:
""" Q.3
There are two types of data:
1.Qualitative data 
2.Quantitaive data 

Both of the data differ from each other as:
1.In Quantitative data, data is depicted in numerical terms while in Qualitative data, data is not depicted in numerical terms.  
2.In Quantitative data,Can be shown in numbers and variables like ratio, percentage, and more while the Qualitative data could be about the behavioral attributes of a person, or thing. 
3.Example of Quantitative data is 12,1:4,100% while example of Qualitative data is color(red,blue),gender,rating.

In [ ]:
"""Q.4
(i)   Qualitative data
(ii)  Qualitative data
(iii) Quantitative data
(iv)  Quantitative data

In [ ]:
""" Q.5
Levels of measurement, also called scales of measurement, tells how precisely variables are recorded. In scientific research, a variable is anything that can take on different values across your data set. 
Level of measurement can be classified into several types based on their characteristics and properties. The main types are:

Nominal Scale Data:
Nominal data are categories or labels that have no inherent order or numeric value. They represent distinct groups or classes.
Examples: Gender (male, female), Eye color (blue, brown, green), Types of fruits (apple, banana, orange).

Ordinal Scale Data:
Ordinal data represent categories with a meaningful order or ranking, but the differences between the categories are not necessarily equal or quantifiable.
Examples: Education levels (high school, bachelor's, master's), Customer satisfaction ratings (low, medium, high).

Interval Scale Data:
Interval data have a meaningful order, and the differences between values are consistent and measurable. However, there is no true zero point, and ratios are not meaningful.
Examples: Temperature in Celsius or Fahrenheit (the difference between 10°C and 20°C is the same as between 20°C and 30°C, but a temperature of 0°C does not mean "no temperature").

Ratio  Data:
Ratio data have all the properties of interval data, plus a true zero point that indicates the absence of the quantity being measured. Ratios between values are meaningful.
Examples: Height, weight, income, age (a person with an age of 0 years is truly non-existent in terms of age)

In [ ]:
"""Q.6 
It is important to understand the level of measurement because it determines the types of statistical analyses and operations that can be appropriately applied to the data. 
For example: 1.Temperature changes are interval data. We can calculate the mean temperature change and the standard deviation to measure the average change and its variability. However, we can't claim that a change of 20°C is twice as significant as a change of 10°C because there's no true zero point.
             2.User satisfaction is an ordinal data we can rank the product based on user satisfaction, but we can't say that a product with a rating of 4 is twice as effective as one with a rating of 2.So,treating satisfaction ratings as interval data and trying to calculate a "mean satisfaction" would not be appropriate, as the differences between ratings are not necessarily uniform.
             Hence with these two examples we can conclude that understanding the level of measurement is important in analysing data.

In [ ]:
"""Q.7 
Nominal Data:
1.Nominal data is a type of data that consists of categories or names that cannot be ordered or ranked. Nominal data is often used to categorize observations into groups, and the groups are not comparable. 
In other words, nominal data has no inherent order or ranking. Examples of nominal data include gender,race,blood type.
2.Nominal data can be represented using frequency tables and bar charts, which display the number or proportion of observations in each category.

Ordinal Data:
1.Ordinal data is a type of data that consists of categories that can be ordered or ranked. However, the distance between categories is not necessarily equal. 
Ordinal data is often used to measure subjective attributes or opinions, where there is a natural order to the responses. Examples of ordinal data include education level,job position,ratings.
2.Ordinal data can be represented using frequency tables, bar charts, or line charts. These displays show the order or ranking of the categories, but they do not imply that the distances between categories are equal.

In [ ]:
"""Q.8
A Boxplot is used to display data in terms of range.
A box plot provides a visual summary of the distribution of a dataset, including measures like the minimum, maximum, quartiles, and potential outliers. It's particularly useful for showing the spread and central tendency of data points.

In [ ]:
"""Q.9
Descriptive Statistics
1.It gives information about raw data which describes the data in some manner.
2.It helps in organizing, analyzing, and to present data in a meaningful manner.
3.It is used to describe a situation.
4.It explains already known data and is limited to a sample or population having a small size.
5.It can be achieved with the help of charts, graphs, tables, etc.

Inferential Statistics
1.It makes inferences about the population using data drawn from the population.
2.It allows us to compare data, and make hypotheses and predictions.
3.It is used to explain the chance of occurrence of an event.
4.It attempts to reach the conclusion about the population.
5.It can be achieved by probability.

In [ ]:
"""Q.10
Measures of central tendency and variability are essential statistical tools for summarizing and understanding datasets. They provide insights into the center and spread of data. Here are some common measures of central tendency and variability along with their explanations:
Measures of Central Tendency:
1.Mean:
The mean is the average value of a dataset. It's calculated by summing up all the values and dividing by the number of values.
It's affected by outliers and is most useful when the data is relatively symmetric and not too skewed.
2.Median:
The median is the middle value in a dataset when the values are arranged in ascending or descending order. If there's an even number of values, the median is the average of the two middle values.
It's less sensitive to outliers compared to the mean and is useful when the data is skewed or contains extreme values.
3.Mode:
The mode is the value that appears most frequently in a dataset.
It's especially useful for categorical data and can help identify the most common value.

Measures of Variability:
1.Variance:
Variance measures the average squared deviation of each data point from the mean.
A high variance indicates a wide spread of data points, while a low variance indicates data points are close to the mean.
2.Standard Deviation:
The standard deviation is the square root of the variance. It represents the average distance of data points from the mean.
It's commonly used as a measure of spread and gives a clearer sense of variability than the variance itself.

In [1]:
import seaborn as sns
import numpy as np

In [2]:
df=sns.load_dataset("tips")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
df.mean()

C:\Users\shukl\AppData\Local\Temp\ipykernel_8896\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

In [4]:
df.median()

C:\Users\shukl\AppData\Local\Temp\ipykernel_8896\530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

total_bill    17.795
tip            2.900
size           2.000
dtype: float64

In [5]:
df.mode()

   total_bill  tip   sex smoker  day    time  size
0       13.42  2.0  Male     No  Sat  Dinner     2

In [8]:
df.var()

C:\Users\shukl\AppData\Local\Temp\ipykernel_8896\1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

total_bill    79.252939
tip            1.914455
size           0.904591
dtype: float64

In [9]:
df.std()

C:\Users\shukl\AppData\Local\Temp\ipykernel_8896\3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64